/*
* @Author: Liu Cui
* @Date:   2016-10-18 18:43:52
* @Last Modified by:   Liu Cui
* @Last Modified time: 2016-10-18 18:57:01
*/

// Text Color
$default-text-l: #FFF;
$default-text-d: #333;
$link-text: #f17a2c;
$font-bolder:500;

$bg-color: rgba(255, 255, 255, 0.6);

$border-light: rgba(255, 255, 255, 0.3);