

// Reset select2 style
.select2-container{
    min-width: 300px;
}
.select2-dropdown {
    background-color: rgba(255,255,255,.8);
    border: 1px solid #fff;
}
.select2-container--default{
    .select2-selection--single{
        color: #ffffff;
        border: 1px solid rgba(255, 255, 255, 0.6);
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.1);
        box-shadow: none;
        font-size: 14px;
        
        .select2-selection__rendered{
            color: #ffffff;
        }

        .select2-selection__arrow b{
            border-color: #fff transparent transparent transparent;
        }

    }

    .select2-results__option--highlighted[aria-selected] {
        background-color: #6f9ee8;
    }

}
